In [1]:
from madnessReader import MadnessReader

/home/adrianhurtado/testing/madness-test-suite/madness-test-suite

In [2]:
mreader=MadnessReader()

In [3]:
mreader.get_polar_result('N2','hf','dipole')

/home/adrianhurtado/testing/madness-test-suite/madness-test-suite/hf/N2/dipole_hf_0-000000/response_base.json
/home/adrianhurtado/testing/madness-test-suite/madness-test-suite/hf/N2/dipole_hf_0-018250/response_base.json
/home/adrianhurtado/testing/madness-test-suite/madness-test-suite/hf/N2/dipole_hf_0-036500/response_base.json
/home/adrianhurtado/testing/madness-test-suite/madness-test-suite/hf/N2/dipole_hf_0-073001/response_base.json
/home/adrianhurtado/testing/madness-test-suite/madness-test-suite/hf/N2/dipole_hf_0-146002/response_base.json

,k,thresh,xx_m,yy_m,zz_m,d0,d1,d2,x0,x1,x2,y0,y1,y2
0.0,8.0,0.000001,15.028820,9.832879,9.832888,0.000235,0.000233,0.000797,0.000084,0.000086,0.000350,0.000084,0.000086,0.000350
0.0182501875,8.0,0.000001,9.839662,15.039556,9.839644,0.000346,0.000351,0.001663,0.000241,0.000242,0.000568,0.000164,0.000162,0.000373
0.036500375,8.0,0.000001,9.860305,9.860330,15.081511,0.000377,0.000378,0.002284,0.000299,0.000300,0.000855,0.000287,0.000286,0.000740
0.07300075,8.0,0.000001,9.943871,15.252912,9.943869,0.000105,0.000104,0.000589,0.000277,0.000277,0.000693,0.000436,0.000437,0.000907
0.1460015,8.0,0.000001,10.297955,15.982958,10.297954,0.000122,0.000122,0.000569,0.000200,0.000200,0.000848,0.000506,0.000506,0.001090

In [ ]:
from DaltonRunner

In [8]:
from madnessReader import MadnessReader

mr=MadnessReader()

In [9]:
p,scf_e=mr.get_ground_scf_data('Be','hf')

/home/adrianhurtado/testing/madness-test-suite/madness-test-suite/hf/Be/calc_info.json

In [10]:
import pandas as pd

In [11]:
pd.DataFrame(scf_e)

,e_coulomb,e_kinetic,e_local,e_nrep,e_nuclear,e_pcm,e_residual,e_tot,e_xc
0,7.221923,14.627978,0.0,0.0,-33.740395,0.0,0.000000,-14.565358,-2.674864
1,7.179746,14.586473,0.0,0.0,-33.668413,0.0,0.048374,-14.572369,-2.670176
2,7.156615,14.570670,0.0,0.0,-33.633172,0.0,0.015709,-14.572828,-2.666941
3,7.155489,14.570992,0.0,0.0,-33.632599,0.0,0.000801,-14.572832,-2.666714
4,7.155444,14.571367,0.0,0.0,-33.632942,0.0,0.000172,-14.572832,-2.666700
5,7.155431,14.571387,0.0,0.0,-33.632957,0.0,0.000000,-14.572834,-2.666695
6,7.155809,14.572258,0.0,0.0,-33.634168,0.0,0.000185,-14.572938,-2.666837